@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cardo&display=swap');

body {
	background-image: url("../assets/pirate_cove.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #111;
	text-align: center;
	margin: 0 auto;
	color: #eee;
}


h1,h2,h3,h4,h5,h6, button {
  font-family: 'Berkshire Swash';
}

p, tr, th, a, li, span, small {
  font-family: 'Cardo', serif;
}

button {
	background-color: #111;
	text-decoration: none;
	border: 2px solid #eee;
	padding: 5px 10px;
	color: #eee;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.button {
	text-decoration: none;
	border: 2px solid #eee;
	padding: 5px 10px;
	color: #eee;
}

.button:hover {
	text-decoration: underline;
}

.error-message {
	color: #dd0000;
}