@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cardo&display=swap');

html { 
  background: url("../assets/pirate_cove.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #eee;
}

body {
  text-align: center;
  margin: 0;
  height: 100vh
}
.page-content {
  width: 75%;
  max-width: 760px;
  margin: 1em auto;
  background-color: #11111188;
  padding: 25px;
}

@media(min-width:900px) {
  .page-content {
    width: 60%;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Berkshire Swash';
}

p, tr, th, a, li, span, small, button {
  font-family: 'Cardo', serif;
  color: #eee;
}

.btn {
  background-color: #111;
  text-decoration: none;
  border: 2px solid #eee;
  padding: 10px 15px;
  color: #eee;
  margin: 1em;
}

.btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error-message {
  color: #dd0000;
  background-color: #111e;
  width: fit-content;
  margin: 0.75em auto;
  padding: 0.25em 1em;
  border-radius: 0.25em;
}

.btn-close {
  color: #fff;
  background-color: #111e;
  border: none;
  margin: 0.75em 0.5em;
  padding: 0.1em 0.25em;
  /*border-radius: 0.25em;*/
}

.btn-close:hover {
  cursor: pointer;
  color: #ffbbbb;
}