.navigation-bar {
	background-color: #111;
	padding: 10px;
	margin: 0;
}

.navigation-bar ul {
	list-style: none;
}

.navigation-bar li {
	margin: 30px 0;
	padding: 0;
}

@media(min-width:760px) {
	.navigation-bar li {
		margin: 0;
	}

	.navigation-bar #nav-float-left li {
		display: inline;
		margin: 0 10px;
		float: left;
	}
  
	.navigation-bar #nav-float-right {
		text-align: right;
		margin-right: 40px;
	}
}


.navigation-bar a {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	font-weight: 800;
	font-size: 18px;
	padding: 10px;
	border: 1px solid white;
}