#pirates-list ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#pirates-list li {
	margin: 0;
	display: inline;
}

#pirates-list a {
	text-decoration: none;
	font-weight: 800;
	font-size: 18px;
	padding: 1em;
}

#pirate-card {
	margin: 1em 0;
	padding: 1em;
	width: 250px;
	text-align: center;
	background-color: #0006;
	color: #fff;
}

#pirate-card p {
	margin: 0;
	padding: 0;
	text-align: center;
}

#pirate-card button {
	margin: 0.5em 0;
	padding: 0.6em;

}

#pirate-card img {
	display: inherit;
	margin: 0 auto;
	width: 50px;
	height: 25px;
}