#pirate-card {
	margin: 1em 0;
	padding: 1em;
	width: 250px;
	text-align: center;
	background-color: #0006;
	color: #fff;
}

#pirate-card p {
	margin: 0;
	padding: 0;
	text-align: center;
}

#pirate-card .btn {
	margin: 0.5em auto 0 auto;
	display: block;
}

#pirate-card .btn:disabled {
	border: none;
	text-decoration-line: line-through;
	cursor: inherit;
}

#pirate-card img {
	display: inherit;
	margin: 0.5em auto;
	width: 85px;
	height: 50px;
}

#btn-level-up {
	background: none;
	border: none;
	display: inline-block;
}

#btn-level-up:hover {
	cursor: pointer;
}